<section class="covers section">
  <h2 class="visually-hidden">Covers</h2>
  <div class="cover-container container">
    <div class="cover-box">
      <ul class="cover-list">
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-10@1x.jpg 1x,
                  ./img/covers/rectangle-10@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-10.jpg" alt="cover-10" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="cover-list">
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-11@1x.jpg 1x,
                  ./img/covers/rectangle-11@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-11.jpg" alt="cover-11" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-10@1x.jpg 1x,
                  ./img/covers/rectangle-10@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-10.jpg" alt="cover-10" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-7@1x.jpg 1x,
                  ./img/covers/rectangle-7@2x.jpg 2x
                "
              />
              <img src="../img/covers/rectangle-7.jpg" alt="cover-7" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-6@1x.jpg 1x,
                  ./img/covers/rectangle-6@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-6.jpg" alt="cover-6" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="cover-list">
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-11@1x.jpg 1x,
                  ./img/covers/rectangle-11@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-11.jpg" alt="cover-11" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/first-screen-1@1x.jpg 1x,
                  ./img/covers/first-screen-1@2x.jpg 2x
                "
              />
              <img src="./img/covers/first-screen-1.jpg" alt="cover-1" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-8@1x.jpg 1x,
                  ./img/covers/Rectangle-8@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-8.jpg" alt="cover-8" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="cover-list">
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-10@1x.jpg 1x,
                  ./img/covers/rectangle-10@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-10.jpg" alt="cover-9" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-5@1x.jpg 1x,
                  ./img/covers/rectangle-5@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-5.jpg" alt="cover-5" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-9@1x.jpg 1x,
                  ./img/covers/rectangle-9@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-9.jpg" alt="cover-1" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-4@1x.jpg 1x,
                  ./img/covers/rectangle-4@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-4.jpg" alt="cover-4" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-5@1x.jpg 1x,
                  ./img/covers/rectangle-5@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-5.jpg" alt="cover-5" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-11@1x.jpg 1x,
                  ./img/covers/rectangle-11@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-11.jpg" alt="cover-11" />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="cover-list">
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-12@1x.jpg 1x,
                  ./img/covers/rectangle-12@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-12.jpg" alt="cover-12" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-6@1x.jpg 1x,
                  ./img/covers/rectangle-6@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-6.jpg" alt="cover-6" />
            </picture>
          </div>
        </li>
        <li>
          <div class="cover-img-container animation-img">
            <picture class="cover-img">
              <source
                srcset="
                  ./img/covers/rectangle-8@1x.jpg 1x,
                  ./img/covers/rectangle-8@2x.jpg 2x
                "
              />
              <img src="./img/covers/rectangle-8.jpg" alt="cover-8" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
