<link rel="stylesheet" href="../css/styles.css" />

<section class="section">
  <!-- SECTION CONTAINER -->
  <div class="container">
    <!-- Section Title -->
    <h2 class="title faq-title">FAQ</h2>

    <div class="faq-inner-container">
      <!-- FIRST TAB COLUMN -->
      <div class="faq-divide-container faq-divide-container-left">
        <ul class="faq-accordion-first accordion-container">
          <!-- Tab 1 -->
          <li class="faq-tab-left ac">
            <h3 class="ac-header">
              <div class="faq-tab-help-container-left">
                <button type="button" class="ac-trigger">
                  What programming languages are most often used in your
                  project?
                </button>
              </div>
            </h3>
            <div class="ac-panel">
              <div class="faq-tab-help-container-left">
                <p class="faq-tab-content ac-text">
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </div>
            <div class="faq-accordion-underline"></div>
          </li>

          <!-- Tab 2 -->
          <li class="faq-tab-left ac">
            <h3 class="ac-header">
              <div class="faq-tab-help-container-left">
                <button type="button" class="ac-trigger">
                  What are the deadlines for the project?
                </button>
              </div>
            </h3>
            <div class="ac-panel">
              <div class="faq-tab-help-container-left">
                <p class="faq-tab-content ac-text">
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </div>
            <div class="faq-accordion-underline"></div>
          </li>

          <!-- Tab 3 -->
          <li id="faq-tab" class="faq-tab-left ac">
            <h3 class="ac-header">
              <div class="faq-tab-help-container-left">
                <button type="button" class="ac-trigger">
                  What payment methods do you accept?
                </button>
              </div>
            </h3>
            <div class="ac-panel">
              <div class="faq-tab-help-container-left">
                <p class="faq-tab-content ac-text">
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </div>
            <div class="faq-accordion-underline"></div>
          </li>
        </ul>
      </div>

      <!-- SECOND TAB COLUMN -->
      <div class="faq-divide-container faq-divide-container-right">
        <ul class="faq-accordion-second accordion-container">
          <!-- Tab 4 -->
          <li class="faq-tab-right ac">
            <h3 class="ac-header">
              <div class="faq-tab-help-container-right">
                <button
                  type="button"
                  id="ac-trigger-special"
                  class="ac-trigger"
                >
                  How can I contact you?
                </button>
              </div>
            </h3>
            <div class="ac-panel">
              <div class="faq-tab-help-container-right">
                <p class="faq-tab-content ac-text">
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </div>
            <div class="faq-accordion-underline"></div>
          </li>

          <!-- Tab 5 -->
          <li class="faq-tab-right ac">
            <h3 class="ac-header">
              <div class="faq-tab-help-container-right">
                <button type="button" class="ac-trigger">
                  Do you provide advice or support?
                </button>
              </div>
            </h3>
            <div class="ac-panel">
              <div class="faq-tab-help-container-right">
                <p class="faq-tab-content ac-text">
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </div>
            <div class="faq-accordion-underline"></div>
          </li>

          <!-- Tab 6 -->
          <li class="faq-tab-right ac">
            <h3 class="ac-header">
              <div class="faq-tab-help-container-right">
                <button type="button" id="ac-last-trigger" class="ac-trigger">
                  What does the process of developing a software product look
                  like from idea to implementation?
                </button>
              </div>
            </h3>
            <div class="ac-panel">
              <div class="faq-tab-help-container-right">
                <p class="faq-tab-content ac-text">
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </div>
            <div class="faq-accordion-underline"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script type="module" src="../js/faq.js"></script>
