<link rel="stylesheet" href="../css/styles.css" />

<section class="section faq-section">
  <!-- КОНТЕЙНЕР СЕКЦІЇ -->
  <div class="container faq-container">
    <!-- Заголовок секції -->
    <h2 class="title faq-title">FAQ</h2>

    <!-- КОНТЕЙНЕР ВКЛАДИНОК -->
    <div class="faq-inner-container">
      <ul>
        <!-- Вкладинка 1 -->
        <div class="faq-divide-container">
        <li>
          <div class="faq-tab">
            <h3 class="faq-tab-title">
              What programming languages are most often used in your project?
            </h3>
            <p class="faq-tab-content">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>

        <!-- Вкладинка 2 -->
        <li>
          <div class="faq-tab">
            <h3 class="faq-tab-title">
              What are the deadlines for the project?
            </h3>
            <p class="faq-tab-content">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>

        <!-- Вкладинка 3 -->
        <li>
          <div class="faq-tab">
            <h3 class="faq-tab-title">What payment methods do you accept?</h3>
            <p class="faq-tab-content">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </div>
      <div class="faq-divide-container">
        <!-- Вкладинка 4 -->
        <li>
          <div class="faq-tab">
            <h3 class="faq-tab-title">How can I contact you?</h3>
            <p class="faq-tab-content">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>

        <!-- Вкладинка 5 -->
        <li>
          <div class="faq-tab">
            <h3 class="faq-tab-title">Do you provide advice or support?</h3>
            <p class="faq-tab-content">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>

        <!-- Вкладинка 6 -->
        <li>
          <div class="faq-tab">
            <h3 class="faq-tab-title">
              What does the process of developing a software product look like
              from idea to implementation?
            </h3>
            <p class="faq-tab-content">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </div>
      </ul>
    </div>
  </div>
</section>

<script type="module" src="../js/faq.js"></script>