<header class="header">
    <div class="container">
        <a href="index.html" class="header__logo"><img src="img/logo_mobile.png" alt="logo" /><span></span></a>
        <div class="header__menu menu">
            <button type="button" class="menu__btn open">Menu</button>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">About me</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Benefits</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Projects</a>
                    </li>
                    <li class="menu__item"><a href="#" class="menu__link">FAQ</a></li>
                </ul>
                <button type="button" class="header__order-mobile btn">Order the project</button>
            </nav>
        </div>
        <button type="button" class="header__order btn">Order the project</button>

    </div>
</header>
