<header class="header">
    <div class="container">
        <div class="desktop-menu">
            <div class="logo">
                <img src="../img/header/logo.png" alt="Logo">
                <span>jefferson*</span>
            </div>
            <div class="menu-container">
                <a class="menu-toggle">Menu</a>
                <div class="dropdown-menu">
                    <a href="#about-me">About me</a>
                    <a href="#benefits">Benefits</a>
                    <a href="#projects">Projects</a>
                    <a href="#faq">FAQ</a>
                </div>
            </div>
            <a href="#work-together" class="order-btn">Order the project</a>
        </div>
        <div class="mobile-menu">
            <div class="logo">
                <img src="../img/header/logo.png" alt="Logo">
                <span>jefferson*</span>
            </div>
            <div class="mobile-menu-toggle">
                <img src="../img/header/hamburger.svg" alt="Logo">
            </div>
        </div>
    </div>
</header>

<div class="mobile-menu-modal">
    <div class="container">
        <div class="mobile-menu-modal_inner">
            <div class="mobile-close-menu">
                <img src="../img/header/close.svg" alt="Close Menu">
            </div>
            <div class="mobile-menu-nav">
                <a href="#about-me">About me</a>
                <a href="#benefits">Benefits</a>
                <a href="#projects">Projects</a>
                <a href="#faq">FAQ</a>
            </div>
            <a href="#work-together" class="order-btn">Order the project</a>
        </div>
    </div>
</div>