<section class="section projects">
  <div class="container swiper-container">
    <!-- Slider main container -->
    <div class="projects-swiper">
      <div class="swiper">
        <h1 class="projects-title">PROJECTS</h1>

        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <li id="swiper-slide-container" class="swiper-slide">
            <div class="slide-details">
              <div class="tags-container">
                <p class="tag">#react</p>
                <p class="tag">#js</p>
                <p class="tag">#node js</p>
                <p class="tag">#git</p>
              </div>
              <p class="slide-description">
                Programming Across <br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <button class="see-project-button">See project</button>
            </div>
            <div class="slide-image-container">
              <img
                src="../img/projects/ReadJourney.jpg"
                alt="Read Journey"
                class="slide-image"
              />
            </div>
          </li>
          <li id="swiper-slide-container" class="swiper-slide">
            <div class="slide-details">
              <div class="tags-container">
                <p class="tag">#react</p>
                <p class="tag">#js</p>
                <p class="tag">#node js</p>
                <p class="tag">#git</p>
              </div>
              <p class="slide-description">
                Programming Across <br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <button class="see-project-button">See project</button>
            </div>
            <div class="slide-image-container">
              <img
                src="../img/projects/PetLove.jpg"
                alt="Pet Love"
                class="slide-image"
              />
            </div>
          </li>
          <li id="swiper-slide-container" class="swiper-slide">
            <div class="slide-details">
              <div class="tags-container">
                <p class="tag">#react</p>
                <p class="tag">#js</p>
                <p class="tag">#node js</p>
                <p class="tag">#git</p>
              </div>
              <p class="slide-description">
                Programming Across <br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <button class="see-project-button">See project</button>
            </div>
            <div class="slide-image-container">
              <img
                src="../img/projects/VocabBuilder.jpg"
                alt="Vocab Builder"
                class="slide-image"
              />
            </div>
          </li>
        </ul>
        <div class="swiper-buttons">
          <svg width="24" height="24" class="swiper-button-prev">
            <use href="../img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
          <svg width="24" height="24" class="swiper-button-next">
            <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
