<section class="section projects" id="projects">
  <div class="container swiper-container">
    <h4 class="projects-title">PROJECTS</h4>
    <!-- Slider main container -->
    <div class="projects-swiper">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <li id="swiper-slide-container-2" class="swiper-slide">
            <div class="slide-details">
              <div class="tags-container">
                <p class="tag">#react</p>
                <p class="tag">#js</p>
                <p class="tag">#node js</p>
                <p class="tag">#git</p>
              </div>
              <p class="slide-description">
                Programming Across <br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <a
                href="https://github.com/akopyan-arsen/lucky_thirteen"
                class="see-project-button"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="slide-image-container">
              <picture>
                <source
                  srcset="
                    ./img/projects/ReadJourney.jpg    1x,
                    ./img/projects/ReadJourney@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/ReadJourney-mob.jpg    1x,
                    ./img/projects/ReadJourney-mob@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  src="./img/projects/ReadJourney.jpg"
                  alt="Read Journey"
                  class="slide-image"
                />
              </picture>
            </div>
          </li>
          <li id="swiper-slide-container-3" class="swiper-slide">
            <div class="slide-details">
              <div class="tags-container">
                <p class="tag">#react</p>
                <p class="tag">#js</p>
                <p class="tag">#node js</p>
                <p class="tag">#git</p>
              </div>
              <p class="slide-description">
                Programming Across <br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <a
                href="https://github.com/akopyan-arsen/lucky_thirteen"
                class="see-project-button"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="slide-image-container">
              <picture>
                <source
                  srcset="
                    ./img/projects/PetLove.jpg    1x,
                    ./img/projects/PetLove@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/PetLove-mob.jpg    1x,
                    ./img/projects/PetLove-mob@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  src="./img/projects/PetLove.jpg"
                  alt="Pet Love"
                  class="slide-image"
                />
              </picture>
            </div>
          </li>
          <li id="swiper-slide-container-1" class="swiper-slide">
            <div class="slide-details">
              <div class="tags-container">
                <p class="tag">#react</p>
                <p class="tag">#js</p>
                <p class="tag">#node js</p>
                <p class="tag">#git</p>
              </div>
              <p class="slide-description">
                Programming Across <br />
                Borders: Ideas,<br />
                Technologies, Innovations
              </p>
              <a
                href="https://github.com/akopyan-arsen/lucky_thirteen"
                class="see-project-button"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="slide-image-container">
              <picture>
                <source
                  srcset="
                    ./img/projects/VocabBuilder.jpg    1x,
                    ./img/projects/VocabBuilder@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/VocalBuilder-mob.jpg    1x,
                    ./img/projects/VocalBuilder-mob@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  src="./img/projects/VocabBuilder.jpg"
                  alt="Vocab Builder"
                  class="slide-image"
                />
              </picture>
            </div>
          </li>
        </ul>
        <div class="swiper-buttons">
          <svg width="24" height="24" class="swiper-button-prev">
            <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
          <svg width="24" height="24" class="swiper-button-next">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
