<section class="section projects">
  <div class="container swiper-container">
    <!-- Slider main container -->
    <div class="projects-swiper">
      <h1 class="projects-title">PROJECTS</h1>

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <ul id="swiper-slide-container" class="swiper-slide">
          <li class="slide-details">
            <div class="tags-container">
              <div class="tag">#react</div>
              <div class="tag">#js</div>
              <div class="tag">#node js</div>
              <div class="tag">#git</div>
            </div>
            <p class="slide-description">
              Programming Across <br />
              Borders: Ideas,<br />
              Technologies, Innovations
            </p>
            <button class="see-project-button">See project</button>
          </li>
          <li class="slide-image-container">
            <img
              src="../img/projects/PowerPulse.jpg"
              alt="Power Pulse"
              class="slide-image"
            />
          </li>
        </ul>
        <!-- <ul class="swiper-slide">
          <li></li>
          <li></li>
        </ul>
        <ul class="swiper-slide">
          <li></li>
          <li></li>
        </ul> -->
      </div>
      <div class="swiper-buttons">
        <!-- If we need navigation buttons -->
        <!-- <button id="swiper-button-p" class="swiper-button-p"> -->
        <svg width="24" height="24" class="swiper-button-prev">
          <use href="../img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
        <!-- </button> -->
        <!-- <button id="swiper-button-n" class="swiper-button-n"> -->
        <svg width="24" height="24" class="swiper-button-next">
          <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
        <!-- </button> -->
      </div>
    </div>
  </div>
</section>
