<section class="section reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper" id="slider">
      <ul class="swiper-wrapper">
        <!-- <li class="swiper-slide" id="card">
          <img class="review-icon" src="" />
          <h3 class="item-name">Natalia</h3>
          <p class="item-comment">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>
        <li class="swiper-slide" id="card">
          <img class="review-icon" src="" />
          <h3 class="item-name">Dmytro</h3>
          <p class="item-comment">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li class="swiper-slide" id="card">
          <img class="review-icon" src="" />
          <h3 class="item-name">Dmytro</h3>
          <p class="item-comment">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li class="swiper-slide" id="card">
          <img class="review-icon" src="" />
          <h3 class="item-name">Dmytro</h3>
          <p class="item-comment">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li class="swiper-slide" id="card">
          <img class="review-icon" src="" />
          <h3 class="item-name">Dmytro</h3>
          <p class="item-comment">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li class="swiper-slide" id="card">
          <img class="review-icon" src="" />
          <h3 class="item-name">Anna</h3>
          <p class="item-comment">
            The developed project impresses with its quality and efficiency. The
            code is cleanly written and the functionality exceeds expectations.
            Extremely satisfied with the cooperation!
          </p>
        </li> -->
      </ul>
    </div>

    <div class="navigation-box">
      <button type="button" class="left-arrow">
        <svg class="button-icon" with="32px" height="32px">
          <use href="..src/img/icons.svg#icon-arrow-narrow-left-swiper"></use>
        </svg>
      </button>
      <button type="button" class="right-arrow">
        <svg class="button-icon">
          <use href="//src/img/icons.svg#icon-arrow-narrow-right-swiper"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<script type="module" src="../js/reviews.js"></script>
