<footer class="work-together" id="work-together">
  <div class="container footer-container">
    <div class="footer-title">
      <img
        class="footer-icon"
        srcset="./img/footer-icon_1x.png 1x, ./img/footer-icon_2x.png 2x"
        src="./img/footer-icon_1x.png"
        alt=""
        width="44"
        height="44"
      />

      <h2 class="footer-descr">Let’s <span class="footer-work">work</span></h2>
      <h2 class="footer-descr together">together</h2>
    </div>

    <form class="feedback-form">
      <div class="input-container">
        <input
          class="footer-email"
          type="email"
          name="email"
          id="email"
          placeholder="clients@gmail.com"
          maxlength="64"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
        <span id="email-error"></span>
        <input
          class="footer-comments"
          type="text"
          name="comments"
          placeholder="comments"
          maxlength="128"
          required
        />
      </div>
      <div>
        <button class="footer-btn" type="submit">Send</button>
      </div>
    </form>

    <div class="footer-contacts">
      <a class="footer-link" href="mailto:info@devstudio.com"
        >lloydjefferson@gmail.com</a
      >

      <a class="footer-link" href="tel:+110001111111">+11 (000) 111-11-11</a>
    </div>
  </div>
</footer>
