.accordion-about-me .ac {
    background-color: inherit;
    border: none;
}

.accordion-about-me .ac .ac-header .ac-trigger{
    color: inherit;
    font-family: inherit;
    color: rgba(250, 250, 250, 0.40);
}

.accordion-about-me .ac .ac-header .ac-trigger::after {
    content: url('../img/about_me/css_icons/arrow_top.svg');
    width: 10px;
    height: 10px;
}

.accordion-about-me .ac.is-active .ac-header .ac-trigger::after {
    content: url('../img/about_me/css_icons/arrow_down.svg');
    width: 10px;
    height: 10px;
}

.accordion-about-me .ac .ac-panel .ac-text{
    color: inherit;
    font-family: inherit;
}

.about-me-swiper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 55px;
    padding-top: 32px
}

.about-me-swiper .swiper{
    width: 100%;
}

.about-me-swiper .swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 1px solid rgba(250, 250, 250, 0.20);
    border-radius: 50%;
}

.swiper-slide-active{
    background-color: #ED3B44;
}

.about-me-swiper .button-next {
    width: 28px;
    height: 28px;
    stroke: #3B3B3B;
}