.faq-section {
  /* Видалити */
  background-color: #1c1d20;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 64px;
  margin-top: 64px;
  /* Видалити */
}

.faq-container {
  padding: 0;
}

.faq-title {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);

  /* Видалити */
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  /* Видалити */
}

.faq-tab {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-tab-top-container {
  display: flex;
}

.faq-tab-svg {
  padding: 7px;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-tab-title {
  margin-bottom: 16px;
}

.faq-tab-content {
  /* Видалити */
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  /* Видалити */
}

.faq-inner-container .ac {
  background-color: inherit;
  border: none;
  margin: 0;
}

.faq-inner-container .ac .ac-panel .ac-text {
  color: inherit;
  font-family: inherit;
  padding: 0;
  padding-top: 16px;
}

.faq-inner-container .ac .ac-trigger {
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  max-width: 264px;
  padding: 0;
  padding-top: 20px;
}

.faq-inner-container .ac .ac-header .ac-trigger::after {
  top: 30px;
  right: -20%;
  content: url('../img/about_me/css_icons/arrow_down.svg');
  width: 10px;
  height: 10px;
}

.faq-inner-container .ac.is-active .ac-header .ac-trigger::after {
  content: url('../img/about_me/css_icons/arrow_top.svg');
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 768px) {
  .faq-section {
    /* Видалити */
    margin-bottom: 96px;
    margin-top: 96px;
    margin-left: 32px;
    margin-right: 32px;
    /* Видалити */
  }

  .faq-tab {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .faq-tab-title {
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .faq-section {
    /* Видалити */
    margin-bottom: 164px;
    margin-top: 164px;
    /* Видалити */
  }

  .faq-tab {
    padding-top: 32px;
    padding-bottom: 26px;
  }

  #faq-tab {
    padding-bottom: 54px;
    border-bottom: none;
  }

  .faq-tab-right {
    padding-left: 32px;
  }

  .faq-tab-left {
    padding-right: 32px;
  }

  .faq-inner-container {
    display: flex;
  }

  .flex-divide-container {
    display: flex;
    flex-direction: column;
  }

  .faq-divide-container-left {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}
