.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.no-content-warning {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.swiper-wrapper {
  display: flex;
}

.reviews .swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 344px;
  /* max-height: 302px; */
}

#card {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 344px;
  height: 372px;
}

.item-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.item-comment {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.review-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
  border-radius: 10px;
}

.navigation-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.swiper-box {
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
}

.navigation-box .left-arrow,
.navigation-box .right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.5);

  background-color: transparent;
  cursor: pointer;
  fill: transparent;
  stroke: rgba(250, 250, 250, 0.5);
}

#arrow-1:hover,
#arrow-2:hover {
  border: 1px solid #fafafa;
  stroke: #fafafa;
}

#arrow-1:disabled,
#arrow-2:disabled {
  border: 1px solid rgba(250, 250, 250, 0.156);
  stroke: rgba(250, 250, 250, 0.156);
}

@media screen and (min-width: 768px) {
  #card {
    width: 344px;
    height: 332px;
  }
}

@media screen and (min-width: 1440px) {
  #card {
    width: 332px;
    height: 332px;
  }
}
